[submodule "open-LIN-c"]
	path = src/open-LIN-c
	url = https://github.com/oshoemaker/open-LIN-c
[submodule "src/ESP32-SoftwareLIN"]
	path = src/ESP32-SoftwareLIN
	url = https://github.com/oshoemaker/ESP32-SoftwareLIN
